.buttons{
  position: absolute;
}
.elven_button {
  
  background-color: springgreen;
  transition: background-color .5s;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px ;
  
}

.elven_button:hover{
  background-color: palegreen;
  cursor:url("joke3.cur"), default;
}

.dwarf_button{
 
  background-color: rgb(187, 182, 182);
  transition: background-color .5s;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px ;
}

.dwarf_button:hover{
  background-color: rgb(248, 248, 247);
  cursor:url("akary_Hammer.cur"),default;

}



.human_button{
 
  background-color: chocolate;
  transition: background-color.5s;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px ;
}

.human_button:hover{
  background-color: wheat;
  cursor: url("humanD1.cur"),default;
}

.container{
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 280px;
    margin: 0 auto;
    z-index: 2;
}

.img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
}

#img1{
    animation-delay: 0s;
    background-image: url('city1.jpg');

}

#img2{
  
  background-image: url('human2.jpg');
  animation-delay: 8s;

}

#img3{
  
    background-image: url('morgoth_ungoliath.jpg');
    animation-delay: 16s;
}   

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

